<div class="container m-4">
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <%= link_to "Ir a la Página Principal", root_path, style: "text-decoration: none;" %>
    </div>
  </nav>
  <h2>Acerca de </h2>
  <p>Bienvenido a Chile, un país que se extiende a lo largo de más de 4,300 kilómetros, donde la diversidad de paisajes, culturas y experiencias te espera. Desde el desierto más árido del mundo hasta los glaciares imponentes de la Patagonia, Chile es un destino que captura la esencia de la aventura y la exploración.</p>
</div>